.vscode
vscode/launch.json
vscode/tasks.json
.bin
bin/Debug/net6.0
.obj
obj/Debug
obj/Debug/net6.0
obj/Debug/ref
.obj/Debug/refint
obj/Debug/refint/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/refint/GB_SpecProj.AssemblyInfo.cs
obj/Debug/refint/GB_SpecProj.AssemblyInfoInputs.cache
obj/Debug/refint/GB_SpecProj.assets.cache
obj/Debug/refint/GB_SpecProj.csproj.AssemblyReference.cache
obj/Debug/refint/GB_SpecProj.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/refint/GB_SpecProj.GlobalUsings.g.cs
obj/GB_SpecProj.csproj.nuget.dgspec.json
obj/GB_SpecProj.csproj.nuget.g.props
obj/GB_SpecProj.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
.vscode/launch.json
.vscode/launch.json
.vscode/tasks.json
GB_SpecProj.csproj
.__pycache__
__pycache__/SpecProj.cpython-310.pyc